body { /* Vai aplicar esses estilos a tudo que estiver dentro do body */
    background-color: rgba(179, 130, 186, 36%); /*Uma das formas de selecionar cor, essa pode escolher a opacidade */
    font-family: 'Montserrat', sans-serif;
}

.titulo-pagina {
    text-align: center;
    color: purple;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo {
    width: 70.3125%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Truque pra centralizar, só funciona com elementos block */
}

.subtitulo {
    text-align: center;
}

.chamada, .ilustracao {
    width: 44.44%;
    display: inline-block;
    margin: 5%;
    vertical-align: middle;
}

.ilustracao > img { /* seleciona as tags img dentro da classe .conteudo-principal__imagem */
    width: 100%;
}

.call-to-action {
    margin-top: 40px;
}

.btn {
    margin: 2%;
    padding: 20px;
    text-decoration: none; /* Tira o sublinhado do link */
    text-transform: uppercase; /*Deixa todas as letras maiúsculas sem prejudicar a acessibilidade */
    border: 1px solid #5d1277; /* Borda ao redor do elemento. Primeiro define a largura da borda, depois o estilo, por último a cor */
}

.btn--saiba-mais {
    background-color: #5d1277;
    color: white;
}

.btn--participe {
    color: #5d1277; /* Outra forma muito comum de escolher a cor, pelo código HEX */
}


@media (max-width: 420px) {
    .call-to-action {
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }

    .btn {
        padding: 20px;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid #5d1277;
    }

    .ilustracao {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 768px) {

    .conteudo {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

    .call-to-action: {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .btn {
        margin: 2vw;
    }

    .btn--saiba-mais {
        background-color: #5d1277;
        color: white;
    
    }

    .chamada, .ilustracao {
        width: 100%;
        display: block;
    }
}

/* @media (max-width: 768px) { 

    .cabecalho__subtitulo {
        margin-bottom: 0;
    }

    .container {
    width: 100%;
    }

    .container__conteudo {
    width: 92%;
    margin: 0;
    padding: 5% 4% 0 4%;
    text-align: center;
    }

    .container__ilustracao {
    width: 92%;
    margin: 0;
    padding: 5% 4% 5% 4%;
    text-align: center;
    }
}

@media (max-width: 420) {
    .container__conteudo > p {
    font-size: 9px;
    }
} */
