* {
    margin: 0;
    padding: 0;
    /* esse border box conta as bordas como tamanho total e não sobre espaços estranhos nas divs */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    /* font-family: 'Varela Round', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #829dad;
    font-weight: bold;
}

a:hover {
    color: #3c6360;
}

.nav {
    background-color: #96b6ca;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    z-index: 99; 
    /* o z-index vai se comportar vai passar na frente do outro, quanto mais alto o valor, mais na frente dos elementos ele vai estar */
}

.container {
    width: 960px;
    margin: 0 auto;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 85px;
}

.nav__menu > li {
    display: inline-block;
    padding: 35px 25px;
}

.menu__link {
    color: #ffffff;
    margin-right: 50px;
}

.menu__link:hover {
    color: rgba (255, 255, 255, 0)
}

.nav__mobile {
    display: none;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.transition {
    transition: all 1s;
}

.banner {
    background: url(../img/foto-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 500px;
    margin-top: 85px;
}

.banner__title {
    font-size: 105px;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-family: "Varela Round";
    font-weight: 100;
    padding-top: 80px; 
    letter-spacing: 8px;
    /* deixa mais espaço entre as letras */
}

.banner__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.7);
}

.banner-btn {
    display: inline-block;
    margin-top: 40px;
}

.btn {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 5px;
}

.btn--primary {
    background-color: red;
}

.btn--primary:hover {
    color: #ffffff;
    background-color: aqua;
}

.destaque {
    background-color: rgba(22, 22, 22, .8);
    text-align: center;
    color:#ffffff;
    padding: 40px;
}

.about__title {
    padding: 20px;
}

.destinos {
    padding: 80px 0;
}

.destino__border {
    width: 30px;
    height: 120px;
    background-color: #829dad;
    display: block;
}

.destino_siberia {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
}

.destino--siberia_img {
    width: 750px;
    width: 100%;
    height: auto;
    display: block;
}

.destino__groelandia, .destino__antartida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.destino__groelandia-img, .destino__antartida-img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 300px;
}










.lugares_gelados {
    width: 80%;
    margin: 0 auto;
}

.mosaico_gelado {
    display: flex;
    align-items: center;
    background-color: #161616;
    color: white;
}

.mosaico_gelado img {
    width: 50%;
}

.rodape {
    background-color: #161616;
    text-align: center;
    padding: 40px;
    color: rgba(255, 255, 255, 0.5);
}

.footer_twitter, .footer_facebook, .footer_youtube {
    opacity: 0.5;
    margin: 0 10px;
}

.footer_twitter:hover, .footer_facebook:hover, .footer_youtube:hover {
    
}