* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.nav {
    text-align: right;
    width: 100%;
    background-color: #a0bed0;
    position: fixed;
    top: 0;
}

.menu__lista {
    list-style: none;
    margin: 0;
}

.menu__lista > li {
    display: inline-block;
    padding: 35px 25px;
}

.menu__lista_item > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.banner {
    margin-top: 92px;
    min-height: 78vh;
    width: 100vw;
    background: url(../img/foto-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.destaque {
    background-color: rgba(22, 22, 22, .8);
    color: white;
    height: 250px;
}

/* 
.mosaico {
} */

.mosaico_siberia {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
}

.mosaico_siberia img {
    width: 750px;
}

.lugares_gelados {
    width: 80%;
    margin: 0 auto;
}

.mosaico_gelado {
    display: flex;
    align-items: center;
    background-color: #161616;
    color: white;
}

.mosaico_gelado img {
    width: 50%;
}

.rodape {
    text-align: center;7y
    background-color: #161616;
    padding: 10px;
    /* position: fixed; */
    width: 100vw;
    padding: 40px;
    color: rgba(255, 255, 255, 0.5)
}

.redes-sociais > li {
    display: inline-block;
    padding: 35px 25px;
}